@import 'variables';
@import 'mixins';

/* 
                Utils
                                       */

.u-full-size {
  min-height: 100vh;
  min-width: 100vw;
}

.u-flex {
  display: flex;
  flex: 1;
}

.u-pane { width: 50%; }
.u-blue { color: $blue; }
.u-align-right { text-align: right; }
.u-link-naked {
  border-bottom: none !important;
  text-decoration: none;
}

.u-mt--20 { margin-top: 20px; }

@include tablet {
  .u-mt--10 { margin-top: 10px; }
  .u-mt--60 { margin-top: 60px; }
  .u-mt--120 { margin-top: 120px; }
  .u-mt--180 { margin-top: 180px; }
  .u-mb--60 { margin-bottom: 60px; }
  .u-ml--40 { margin-left: 40px; }
  .u-mr--40 { margin-right: 40px; }
  .u-mr--60 { margin-right: 60px; }
}

.u-mobile {
  display: none;

  @include mobile {
    display: inherit;
  }
}