
/* texts */

$main-ff: 'Helvetica Neue', sans-serif;

$root-fs: 16px;
$root-fs-sm: 12px;
$title-fs: 3rem;
$subtitle-fs: 1.8rem;
$content-fs: 1.25rem;

/* colors */

$white: #ffffff;
$black: #121212;
$blue: #58CEFD;


$bg-color: $black;